/.obj/enginesimplehostcpp.d
/.obj/enginesimplehostcpp.o
/enginesimplehostcpp
/libsimple_hapi_host.so
/samples/objects/objects
/samples/parameters/parameters
/backup
**/*.d
**/*.o
/otl/backup/*
/orun.spaceship.otl.valgrind.txt
/.vscode/*
**/*.old.*
/workspace.code-workspace
